/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

/* tailwind css config */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Roboto Mono", monospace;
}

/*  magnifying area  */
.group:hover img {
  transform-origin: var(--x) var(--y);
}
